.list-group-item {
  line-height: 2.5;
}

#main {
  text-align: center;
}

.top-bar, .top-bar ul {
  background-color: peru;
}

.quote {
  color: whitesmoke;
  text-align: center;
}

#add {
  clear: both;
 
}