body {
  background: url('../images/table-with-vegetables_1112-361.jpg') no-repeat fixed center;
  background-size: cover;
  background-attachment: fixed;
}

.list-group-item {
  line-height: 2.5;
}

#main {
  text-align: center;
}

.top-bar, .top-bar ul {
  background-color: grey;
}

.quote {
  color: black;
  text-align: center;
}

#add {
  clear: both;
 
}

.example-list {
  background-color: blue;
  font-size: 15px;
}