/**--------------Main Body---------------*/
body {
  background: url('../images/table-with-vegetables_1112-361.jpg') no-repeat fixed center;
  background-size: cover;
  background-attachment: fixed;
}

.list-group-item {
  line-height: 2.5;
}

#main {
  text-align: center;
}

.top-bar, .top-bar ul {
  background-color: grey;
  
}

.quote {
  color: black;
  text-align: center;
  
}

#add {
  clear: both;
 
}







/**-----------------RECIPE RESULTS SECTION------------------------*/



.getRecipes {
  background-color: #bf1313;
  margin: 10px 10px 20px 0px;
  border: 2px outset #bf1313;
  padding: 2px 10px;
  color: #ffffff;
  transition: color 0.5s, background-color 0.5s;
}

.apiRecipe {
   width: 90%;
   border: 5px solid #ffffff;
   border-radius: 75em 75em 75em 75em;
   display: inline-block;
   margin: 1%;
   overflow: hidden;
   position: relative;
   background-color: #ffffff;
   color: #0a0a0a;
  }

  




  
 
